@charset "utf-8";
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);

:root {
  --gray_000: #ffffff;
  --gray_100: #faf8f8;
  --gray_200: #f2eeee;
  --gray_300: #e4dfdf;
  --gray_400: #d1cbcb;
  --gray_500: #b6b1b1;
  --gray_600: #948e8e;
  --gray_700: #686464;
  --gray_800: #353333;
  --gray_900: #000000;
	--bg_leeum_10: #000000;
	--bg_leeum_9: #57575c;
	--bg_leeum_8: #1878f0;
	--bg_leeum_7: #a5a5aa;
	--bg_leeum_6: #d2d2d2;
	--bg_leeum_5: #e1e1e1;
	--bg_leeum_4: #f8f1e8;
	--bg_leeum_3: #f2f2f2;
	--bg_leeum_2: #f8f9fd;
	--bg_leeum_1: #ffffff;
	--txt_leeum_6: #000000;
	--txt_leeum_5: #1878f0;
	--txt_leeum_4: #aaaaaa;
	--txt_leeum_3: #57575c;
	--txt_leeum_2: #a5a5aa;
	--txt_leeum_1: #ffffff;
	--fill_leeum_6: #000000;
	--fill_leeum_5: #aaaaaa;
	--fill_leeum_4: #f2f2f2;
	--fill_leeum_3: #57575c;
	--fill_leeum_2: #d2d2d2;
	--fill_leeum_1: #ffffff;
	--border_leeum_5: #57575c;
	--border_leeum_4: #d2d2d2;
	--border_leeum_3: #2b2b2b;
	--border_leeum_2: #aaaaaa;
	--border_leeum_1: #f2f2f2;
  --fill_hoam_3: #00662e;
	--fill_hoam_2: #000000;
	--fill_hoam_1: #ffffff;
	--border_hoam_5: #00662e;
	--border_hoam_4: #f0ece9;
	--border_hoam_3: #000f9f;
	--border_hoam_2: #d2ccc7;
	--border_hoam_1: #f2f2f2;
	--txt_hoam_6: #000000;
	--txt_hoam_5: #7d7369;
	--txt_hoam_4: #d2ccc7;
	--txt_hoam_3: #5f574e;
	--txt_hoam_2: #1878f0;
	--txt_hoam_1: #ffffff;
	--bg_hoam_10: #000000;
	--bg_hoam_7: #000f9f;
	--bg_hoam_6: #00662e;
	--bg_hoam_5: #7d7369;
	--bg_hoam_4: #1878f0;
	--bg_hoam_3: #ff7276;
	--bg_hoam_2: #f8f9fd;
	--bg_hoam_1: #ffffff;
}

*{
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-size: 62.5%; /* 1rem=10px */
  min-width: 128rem;
}

body {
  font-family: Pretendard, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.df {
  display: flex;
}

/* ====================================
============== font style ===============    
==================================== */

h1,
.h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.8rem;
}

h4,
.h4 {
  font-size: 1.9rem;
  font-weight: 700;
}

h5, .h5{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.font_content_16 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.font_content_14 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.font_content_13 {
  font-size: 1.3rem;
  font-weight: 400;
}

.font_content_12 {
  font-size: 1.2rem;
  font-weight: 400;
}

.font_content_10 {
  font-size: 1.0rem;
  font-weight: 400;
}

