@import url(./common.css);

:root {
  --gray_000: #ffffff;
  --gray_100: #faf8f8;
  --gray_200: #f2eeee;
  --gray_300: #e4dfdf;
  --gray_400: #d1cbcb;
  --gray_500: #b6b1b1;
  --gray_600: #948e8e;
  --gray_700: #686464;
  --gray_800: #353333;
  --gray_900: #000000;
  --bg_leeum_10: #000000;
  --bg_leeum_9: #57575c;
  --bg_leeum_8: #1878f0;
  --bg_leeum_7: #a5a5aa;
  --bg_leeum_6: #d2d2d2;
  --bg_leeum_5: #e1e1e1;
  --bg_leeum_4: #f8f1e8;
  --bg_leeum_3: #f2f2f2;
  --bg_leeum_2: #f8f9fd;
  --bg_leeum_1: #ffffff;
  --txt_leeum_6: #000000;
  --txt_leeum_5: #1878f0;
  --txt_leeum_4: #aaaaaa;
  --txt_leeum_3: #57575c;
  --txt_leeum_2: #a5a5aa;
  --txt_leeum_1: #ffffff;
  --fill_leeum_6: #000000;
  --fill_leeum_5: #aaaaaa;
  --fill_leeum_4: #f2f2f2;
  --fill_leeum_3: #57575c;
  --fill_leeum_2: #d2d2d2;
  --fill_leeum_1: #ffffff;
  --border_leeum_5: #57575c;
  --border_leeum_4: #d2d2d2;
  --border_leeum_3: #2b2b2b;
  --border_leeum_2: #aaaaaa;
  --border_leeum_1: #f2f2f2;
  --fill_hoam_3: #00662e;
  --fill_hoam_2: #000000;
  --fill_hoam_1: #ffffff;
  --border_hoam_5: #00662e;
  --border_hoam_4: #f0ece9;
  --border_hoam_3: #000f9f;
  --border_hoam_2: #d2ccc7;
  --border_hoam_1: #f2f2f2;
  --txt_hoam_6: #000000;
  --txt_hoam_5: #7d7369;
  --txt_hoam_4: #d2ccc7;
  --txt_hoam_3: #5f574e;
  --txt_hoam_2: #1878f0;
  --txt_hoam_1: #ffffff;
  --bg_hoam_10: #000000;
  --bg_hoam_7: #000f9f;
  --bg_hoam_6: #00662e;
  --bg_hoam_5: #7d7369;
  --bg_hoam_4: #1878f0;
  --bg_hoam_3: #ff7276;
  --bg_hoam_2: #f8f9fd;
  --bg_hoam_1: #ffffff;
}

.dn {
  display: none;
}

.db{
  display: block;
}

.hidden{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.inner {
  padding: 0 2.5rem;
}

.main_inner {
  padding: 5rem 10% 10rem;
}

.button_large {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: var(--txt_hoam_1);
  border-radius: 30rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  background-color: var(--fill_hoam_3);
  border: 1px solid var(--fill_hoam_3);
  white-space: nowrap;
}

.button_xlarge {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: var(--txt_hoam_1);
  border-radius: 30rem;
  height: 3.2rem;
  line-height: 3.2rem;
  padding: 0 1.5rem;
  background-color: var(--fill_hoam_3);
  border: 1px solid var(--fill_hoam_3);
  white-space: nowrap;
}

/* ====================================
============== popup ===============    
==================================== */

/* full_menu */
.wrap .popup_menu{
  width: 100%;
  height: 100vh;
  background-color: var(--bg_hoam_7);
}

.wrap .popup_menu .menu_full div>div>div{
flex-direction: column;
text-align: center;
align-items: center;
padding-top: 3rem;
color: var(--txt_hoam_1);
} 

.wrap .popup_menu .menu_full div>div>div>.menu_full_wrap{
    flex-direction: row;
    gap: 3rem;
}

.wrap .popup_menu .menu_full div>div>div>.menu_full_wrap ul{
    width: 29.5rem;
}

/* popup */
.wrap .popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background: rgba(0, 152, 69, .65);
  backdrop-filter: saturate(200%) blur(2rem);
}

.wrap .popup .popup_box {
  width: 40rem;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* #notice */
.wrap .popup#notice .popup_box .popup_txt {
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  border-radius: 1.5rem;
  background-color: var(--bg_hoam_7);
  color: var(--txt_hoam_1);
  padding: 2rem;
  align-items: center;
}

.wrap .popup#notice .popup_box .popup_txt > p {
  padding-top: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.wrap .popup#notice .popup_box .popup_txt > a {
  display: block;
  width: fit-content;
}

.wrap .popup#notice .popup_box .buttons {
  margin-top: 1rem;
  justify-content: space-between;
}

.wrap .popup#notice .popup_box .buttons > form > input {
  display: none;
}

.wrap .popup#notice .popup_box .buttons > form > label{
  display: block;
  color: var(--txt_hoam_1);
  height: 1.3rem;
  font-size: 1.2rem;
  line-height: 1.3rem;
  padding-left: 2rem;
}

.wrap .popup#notice .popup_box .buttons > form > label:before {
  content: "";
  display: inline-block;
  color: var(--txt_hoam_1);
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.wrap .popup#notice .popup_box .buttons > form > input:checked+label:before {
  content: "✔";
  display: inline-block;
  font-size: 1.3rem;
  text-align: center;
}

.wrap .popup#notice .popup_box .buttons > button.notice_close{
  color: var(--txt_hoam_1);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--border_hoam_1);
}

/* ====================================
============== header ===============    
==================================== */

header {
  width: 100%;
  height: 100vh;
}

/* 상단 고정 내비게이션 */
header .gnb_wrap {
  position: fixed;
  width: 100%;
  height: 6.4rem;
  z-index: 10;
}

nav {
  height: 100%;
  color: var(--txt_hoam_1);
}

nav:hover::before {
  height: 25rem;
  border-top: 1px solid var(--border_hoam_2);
}

nav:hover .inner li ul {
  height: 25rem;
}

nav:hover {
  background-color: var(--bg_hoam_1);
}

nav:hover ul.inner li.gnb ul.gnb_detail li.deps1 > a {
  color: var(--txt_hoam_6);
}

nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 6.4em;
  background-color: var(--bg_hoam_1);
  z-index: 5;
}

nav ul.inner {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
}

nav ul.inner > li:not(.btn) {
  height: 100%;
}

nav ul.inner li.logo a {
  display: block;
  height: 100%;
  line-height: 6.4rem;
}

nav ul.inner li.logo a img {
  height: 1.9rem;
}

nav:hover ul.inner li.logo a img.logo1 {
  display: none;
}

nav:hover ul.inner li.logo a img.logo2 {
  display: inline;
}

nav ul.inner li.gnb ul.gnb_detail {
  height: 100%;
  line-height: 6.4rem;
  text-align: center;
  column-gap: 6rem;
  justify-content: space-between;
  white-space: nowrap;
}

nav ul.inner li.gnb ul.gnb_detail li.deps1 > a {
  color: inherit;
  display: block;
  height: 100%;
  width: 12.6rem;
  white-space: nowrap;
}

nav:hover ul.inner li.gnb ul.gnb_detail li.deps1 > a {
  color: var(--txt_hoam_6);
}

ul.deps2 {
  color: var(--txt_hoam_6);
  overflow: hidden;
  height: 0;
  box-sizing: border-box;
  z-index: 10;
}

ul.deps2 > li:first-child {
  padding-top: 1.5rem;
}

nav ul.inner li.gnb ul.gnb_detail li.deps1 ul {
  border-left: 1px solid var(--border_hoam_2);
  padding-left: 2rem;
  margin-left: 5rem;
}

nav ul.inner li.btn {
  column-gap: 1rem;
}

/* 스크롤시 css */
.change_back_font_color {
  background-color: var(--bg_hoam_1);
  color: var(--txt_hoam_6);
}

/* 화면 중앙 좌우 고정 버튼 */
.fix_buttons {
  font-size: 3rem;
  width: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.fix_buttons .inner {
  justify-content: space-between;
}

.fix_buttons .inner .custom {
  display: block;
  color: var(--txt_hoam_1);
  background-color: var(--fill_hoam_3);
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 100%;
}

.fix_buttons .inner .menu {
  display: block;
  width: 5rem;
  height: 5rem;
  background-color: var(--fill_hoam_3);
  border-radius: 100%;
  align-content: center;
}

.fix_buttons .inner .menu .bar {
  display: block;
  position: relative;
  width: 3rem;
  height: 0.3rem;
  margin: auto;
  background-color: var(--txt_hoam_1);
  border-radius: 8px;
  transition: all 0.5s;
}

.fix_buttons .inner .menu .bar::before,
.bar::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 3rem;
  background-color: var(--txt_hoam_1);
  left: 50%;
  margin-left: -50%;
  border-radius: 8px;
  transition: all 0.5s;
}

.fix_buttons .inner .menu .bar::before {
  bottom: -6px;
}
.fix_buttons .inner .menu .bar::after {
  top: -6px;
}

/* 해더 배경 슬라이드 */
.swiper.header_bg_card {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.swiper .swiper-wrapper .swiper-slide .bg_img_garden {
  background-image: url(../imgs/hoam/bg_garden_desktop.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.swiper .swiper-wrapper .swiper-slide .bg_img_nicolasparty {
  background-image: url(../imgs/hoam/bg_nicolasparty.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.banner_card {
  width: 40%;
  max-width: 60rem;
  color: var(--gray_900);
  background-color: rgba(248, 249, 253, 0.8);
  left: 2.5rem;
  bottom: 2.5rem;
  padding: 1.5rem;
  border-radius: 1.3rem;
}

.banner_card .banner_title {
  text-align: center;
  line-height: 3rem;
  flex-direction: column;
  align-items: center;
}

.banner_card .banner_title h3 {
  margin-bottom: 0.8rem;
}

.banner_card .banner_title a {
  display: block;
  width: fit-content;
}

.banner_card .banner_detail {
  margin-top: 3.4rem;
}

/*해더 하단 중앙 스크롤 안내 아이콘 */
.scroll_icon {
  width: 5rem;
  height: 5rem;
  background-color: var(--fill_hoam_3);
  border-radius: 100%;
  background-image: url(../imgs/hoam/hoam_icon_scrolldown.svg);
  background-position: center;
  background-size: 4rem;
  background-repeat: no-repeat;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* ====================================
============== main ===============    
==================================== */

main {
  width: 100%;
  background: var(--bg_hoam_1);
}

.main_inner section {
  text-align: center;
}

.main_inner section + section {
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: 1px solid var(--border_leeum_1);
}

.section_title {
  flex-direction: column;
  row-gap: 1rem;
  width: fit-content;
  margin: 0 auto 3rem;
}

.main_inner section.heewon .img {
  overflow: hidden;
}

.main_inner section.heewon .img::before {
  content: "자세히 보기";
  display: block;
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 1.2rem;
  background-color: var(--fill_hoam_1);
  position: absolute;
  bottom: -2.2rem;
  transition: all 0.5s;
  opacity: 0;
}

.main_inner section.heewon .img:hover::before {
  opacity: 1;
  transform: translateY(-2.2rem);
}

.main_inner section.heewon .img img {
  width: 100%;
}

.main_inner .notice .notice_list {
  flex-direction: column;
}

.main_inner .notice .notice_list .notice_detail {
  justify-content: space-between;
  height: 4.5rem;
  align-items: center;
  border-top: 1px solid var(--border_leeum_4);
}

.main_inner .notice .notice_list .notice_detail:last-child {
  border-bottom: 1px solid var(--border_leeum_4);
}

.main_inner .notice .notice_list .notice_detail .notice_title {
  color: var(--txt_leeum_6);
}

.main_inner .notice .notice_list .notice_detail .notice_date {
  color: var(--txt_leeum_3);
}

/* ====================================
============== footer ===============    
==================================== */

footer {
  width: 100%;
  background: var(--bg_hoam_1);
}

footer > .inner {
  padding-bottom: 5rem;
}

.company {
  justify-content: space-between;
  align-self: baseline;
}

.company .info .h5 {
  margin-bottom: 1rem;
  font-weight: 400;
}

.company .sns {
  font-size: 4rem;
}

.company .sns a {
  padding-left: 1rem;
}

.company .sns a:first-child {
  padding-right: 0.3rem;
}

.etc {
  margin-top: 8rem;
  justify-content: space-between;
  align-items: flex-end;
}

.etc .left {
  flex-direction: column;
  row-gap: 1rem;
}

.etc .left .menu {
  color: var(--txt_leeum_6);
}

.etc .left .menu a:not(:first-child)::before {
  content: "| ";
  color: var(--txt_leeum_3);
}

.etc .left .link {
  color: var(--txt_leeum_3);
}

.etc .left .link a:last-child:before {
  content: "| ";
  color: var(--txt_leeum_3);
}
